*.o
*.log
*.status
*.in
*.a
*.sty
*.scan
core
.deps
*.out
*.txt
config.*
Makefile
*.tgz
tags
configure
aclocal.m4
autom4te.cache/
compile
depcomp
install-sh
ltmain.sh
missing
docs/html/
*.pyc
__pycache__/
*.dSYM/
*.gch
third_party/eigen_source/*
.m4
lib-link.m4
