*.o
*.toml
*.log
*.status
*.in
*.a
*.sty
*.scan
core
.deps
*.out
*.txt
!requirements.txt
config.*
Makefile
*.tgz
tags
configure
aclocal.m4
autom4te.cache/
compile
depcomp
install-sh
ltmain.sh
missing
docs/html/
.DS_Store
*.pyc
__pycache__/
*.dSYM/
*.gch
third_party/eigen_source/*
.m4
lib-link.m4
src/csv_to_libsvm
src/parameter_server
src/ps_test
tests/test_travis/test_lr
tests/test_travis/test_ps
tests/test_travis/worker
tests/test_travis/error
third_party/kerberos/
third_party/keyutils-1.5.10.tar.bz2
third_party/keyutils/
third_party/krb5-1.15.2.tar.gz
third_party/curl/
